@model PureCms.Web.Admin.Models.PlatformSettingModel
@{
    ViewBag.Title = "PlatformSetting";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse"
               href="#collapseTwo">
                <strong>平台参数</strong>
            </a>
        </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
            @using (Html.BeginForm("EditPlatformSetting", "settings", FormMethod.Post, new { @id = "editform", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label" for="Title">站点名称</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.SiteName, new { @class = "form-control required" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label" for="Url">网站地址</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label" for="Status">网站状态</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.Status, 1, new { @class = "required" }) 开启
                        </label>
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.Status, 0, new { @class = "required" }) 关闭
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label" for="ClosedReason">关闭说明</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.ClosedReason, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center" id="form-buttons">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> 保存</button>
                    <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> 重置</button>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="/admin/content/js/jquery.form.js"></script>
    <script src="/admin/content/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/admin/content/js/jquery-validate/messages_zh.min.js"></script>
    <script>
        $(function () {
            //表单验证
            purecms.form($("#editform"));
        });

    </script>
}