@{ 
    //var currentMenu = new PureCms.Services.Security.PrivilegeService().GetOne(n=>n.Where(w=>w.ClassName,WorkContext.Controller).Where(w=>w.MethodName, WorkContext.Action));
}
@{
    var className = this.WorkContext.Controller;
    var methodName = this.WorkContext.Action;
    List<PureCms.Core.Domain.Security.PrivilegeInfo> result = new PureCms.Services.Security.PrivilegeService().GetTreePath(className, methodName);
    string title = string.Empty;
    foreach (var item in result)
    {
        title += item.DisplayName + "-";
    }
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="@WorkContext.Copyright">
    <meta name="author" content="purecms">
    <link rel="icon" href="/favicon.ico">

    @*<title>@ViewBag.Title</title>*@
    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <link href="@WorkContext.CSSCDN/admin/content/css/bootstrap3.3.5/bootstrap.min.css?v=@WorkContext.Version" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@WorkContext.CSSCDN/admin/content/css/dashboard.css?v=@WorkContext.Version" rel="stylesheet">
    <link href="@WorkContext.CSSCDN/admin/content/css/ace.min.css?v=@WorkContext.Version" rel="stylesheet">
    <link href="@WorkContext.CSSCDN/admin/content/css/font-awesome.min.css?v=@WorkContext.Version" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/admin/content/js/ie8-responsive-file-warning.js"></script><![endif]-->
    @*<script src="/admin/content/js/ie-emulation-modes-warning.js?v=@WorkContext.Version"></script>*@
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/admin/content/js/html5shiv.min.js"></script>
      <script src="/admin/content/js/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@WorkContext.ScriptCDN/admin/content/js/jquery.min.js?v=@WorkContext.Version"></script>
    <script src="@WorkContext.ScriptCDN/admin/content/js/bootstrap.min.js?v=@WorkContext.Version"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="@WorkContext.ScriptCDN/admin/content/js/ie10-viewport-bug-workaround.js?v=@WorkContext.Version"></script>
    <script src="@WorkContext.ScriptCDN/admin/content/js/jquery.bootstrap.min.js?v=@WorkContext.Version"></script>
    <script src="@WorkContext.ScriptCDN/admin/content/js/ace.min.js?v=@WorkContext.Version"></script>
    <script src="@WorkContext.ScriptCDN/content/js/json2.js?v=@WorkContext.Version"></script>
    <script src="@WorkContext.ScriptCDN/admin/content/js/purecms.jquery.js?v=@WorkContext.Version"></script>
    <script src="@WorkContext.ScriptCDN/admin/content/js/purecms.admin.js?v=@WorkContext.Version"></script>
    <script>
        jQuery(function () {
            try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            purecms.loading();
        });
    </script>
    <style>
        .table td {
            word-break: break-all;
        }
        .loading {
            width: 160px;
            height: 56px;
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 56px;
            color: #fff;
            padding-left: 60px;
            font-size: 15px;
            background: #000 url(/content/images/loading.gif) no-repeat 10px 50%;
            opacity: 0.7;
            z-index: 9999;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
        }
        /*.navbar {
            background: #438eb9;
        }
        .navbar a{
            color:white;
            font-weight:bolder;
        }*/
        th,td,ul,li,div,span,p,label{font-size:13px;}
        .border-bottom{border-bottom:1px solid #eee;}
        .padding-bottom{padding-bottom:2px;}
        .panel-title{font-size:15px;}
    </style>    
    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
</head>

<body data-spy="scroll" data-target="#myScrollspy">
    @{Html.RenderPartial("navbar");}
    <div class="container-fluid" id="body">
        <div class="row">
            @{Html.RenderAction("sidebar", "home");}
            @*<div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/admin/platform/log">日志 <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    <li><a href="/admin/security/privileges">权限</a></li>
                    <li><a href="/admin/security/roles">角色</a></li>
                    <li><a href="#">组织</a></li>
                </ul>
                @*<ul class="nav nav-sidebar">
                        <li><a href="">Nav item</a></li>
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                        <li><a href="">More navigation</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                            <li><a href="">Nav item again</a></li>
                            <li><a href="">One more nav</a></li>
                            <li><a href="">Another nav item</a></li>
                        </ul>
            </div>*@
            <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2" id="main">
                @*@{Html.RenderPartial("navpath");}*@

                <div class="" style="margin-left: -15px; margin-right: -15px;">

                    <ol class="breadcrumb">
                        <li>&rsaquo;&rsaquo;</li>
                        @foreach (var item in result)
                        {
                            @:<li><a href="/admin/@item.ClassName/@item.MethodName">@item.DisplayName</a></li>
                    }
                    </ol>
                </div>
                <div class="" style="margin-bottom: 80px;">
                    <!--main-->
                    @RenderBody()
                </div>
                <nav class="navbar navbar-default navbar-fixed-bottom col-sm-offset-3 col-md-offset-2 hide" role="navigation" id="body-footer">
                    <div class="container">
                        <div class="navbar-form navbar-left" id="body-footer-content">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>