@model PureCms.Web.Admin.Models.ArticleModel
@{
    ViewBag.Title = "Articles";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>【@Model.ChannelName】文章列表</strong>
            <div class="pull-right">
                <a class="btn btn-info btn-sm" data-toggle="collapse"
                   href="#collapseOne">
                    <span class="caret"></span> 查询
                </a>
                <a class="btn btn-info btn-sm" href="editarticle?channelid=@Model.ChannelId"><span class="glyphicon glyphicon-file"></span> 新增</a>
            </div>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <!--in-->
        <div class="panel-body">
            @using (Html.BeginForm("articles", "cms", FormMethod.Get, new { @class = "form-horizontal", @role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.Hidden("page", 1)
                @Html.Hidden("pagesize", 10)
                @Html.HiddenFor(x=>x.ChannelId)
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="begintime">开始时间</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.BeginTime, new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="endtime">结束时间</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="Title">标题</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="Author">作者</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="IsShow">状态</label>
                    <div class="col-sm-9">
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.IsShow, true) 启用
                        </label>
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.IsShow, false) 禁用
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> 查询</button>
                </div>
            }
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-condensed table-striped" id="datatable" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection">
            <thead>
                <tr>
                    <th width="2%"><input type="checkbox" name="checkall" /></th>
                    <th data-sortname="title">
                        @Html.ActionLink("标题", "articles", new { title = Model.Title, author = Model.Author, isshow = Model.IsShow, begintime = Model.BeginTime, endtime = Model.EndTime, sortby = "title", sortdirection = Model.SortDirection == 1 ? 0 : 1 })
                    </th>
                    <th width="10%" data-sortname="author">
                        @Html.ActionLink("作者", "articles", new { title = Model.Title, author = Model.Author, isshow = Model.IsShow, begintime = Model.BeginTime, endtime = Model.EndTime, sortby = "clientip", sortdirection = Model.SortDirection == 1 ? 0 : 1 })
                    </th>
                    <th width="20%" data-sortname="isshow">
                        @Html.ActionLink("状态", "articles", new { title = Model.Title, author = Model.Author, isshow = Model.IsShow, begintime = Model.BeginTime, endtime = Model.EndTime, sortby = "url", sortdirection = Model.SortDirection == 1 ? 0 : 1 })
                    </th>
                    <th width="15%" data-sortname="createdon">
                        @Html.ActionLink("发布时间", "articles", new { title = Model.Title, author = Model.Author, isshow = Model.IsShow, begintime = Model.BeginTime, endtime = Model.EndTime, sortby = "createdon", sortdirection = Model.SortDirection == 1 ? 0 : 1 })
                    </th>
                    <th width="15%">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td><input type="checkbox" value="@item.ArticleId" name="recordid" /></td>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@(item.IsShow ? "<span class=\"label label-info\">显示</span>" : "<span class=\"label label-default\">隐藏</span>")</td>
                        <td>@item.CreatedOn</td>
                        <td>
                            <a class="btn btn-default btn-sm" href="/admin/cms/editarticle?id=@item.ArticleId"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                            <a class="btn btn-warning btn-sm" href="javascript:purecms.del('@item.ArticleId','/admin/cms/deletearticle')"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="active">
                        <div class="form-group form-inline" role="form">
                            <button type="button" class="btn btn-sm btn-primary" data-action="/admin/cms/deletearticle" data-role="delete"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                                        data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-edit"></span> 批量更新
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-action="/admin/cms/setarticleshow?isshow=true" data-role="update">显示</a></li>
                                    <li><a href="#" data-action="/admin/cms/setarticleshow?isshow=false" data-role="update">隐藏</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="panel-footer">
        @Html.WebPager(Model.PagedModel, true)
    </div>
</div>

@section Header {
    <link href="/admin/content/bootstrap-datepicker-1.5.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
}
@section Scripts {
    <script src="/admin/content/bootstrap-datepicker-1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/admin/content/bootstrap-datepicker-1.5.0/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                autoclose: true
                , clearBtn: true
                , format: "yyyy-mm-dd"
                , language: "zh-CN"
            });
            //列表排序样式
            purecms.datatable($("#datatable"));
        });
    </script>
}
