@model PureCms.Web.Admin.Models.EditEntityModel
@{
    ViewBag.Title = "CreateEntity";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse"
               href="#collapseTwo">
                <strong>新建实体</strong>
            </a>
        </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
            @using (Html.BeginForm("createentity", "customize", FormMethod.Post, new { @id = "editform", @class = "form-horizontal", @data_autoreset = "true" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group col-sm-12">
                    @Html.LabelFor(x => x.Name, "名称", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control required" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    @Html.LabelFor(x => x.LocalizedName, "显示名称", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.LocalizedName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    @Html.LabelFor(x => x.IsLoged, "日志监控", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.IsLoged, true, new { @class = "required" }) 启用
                        </label>
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.IsLoged, false, new { @class = "required" }) 禁用
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    @Html.LabelFor(x => x.IsAuthorization, "权限控制", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.IsAuthorization, true, new { @class = "required" }) 启用
                        </label>
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.IsAuthorization, false, new { @class = "required" }) 禁用
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center" id="form-buttons">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> 保存</button>
                    <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> 重置</button>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="/admin/content/js/jquery.form.js"></script>
    <script src="/admin/content/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/admin/content/js/jquery-validate/messages_zh.min.js"></script>
    <script>
        $(function () {
            //表单验证
            purecms.form($("#editform"));
        });

    </script>
}