@model PureCms.Web.Admin.Models.EditFormModel
@{
    ViewBag.Title = "CreateForm";
    Layout = "../Shared/_CustomizeLayout.cshtml";
}
<div class="container-fluid">
    @using (Html.BeginForm("CreateQueryView", "customize", FormMethod.Post, new { @id = "editform", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.SystemFormId)
        @Html.HiddenFor(x => x.EntityId)
        @Html.HiddenFor(x => x.FormConfig)
        <div class="row" style="border-bottom:1px #333 solid;background: #f6f8fa;padding:5px 2px;">
            <div class="col-sm-12" role="toolbar">
                <!--class="btn-toolbar" -->
                <div class="pull-left btn-toolbar-group">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" onclick="submitForm()"><span class="glyphicon glyphicon-saved"></span> 保存</button>
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-transfer"></span> 发布</button>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default" onclick="editObject()">更改属性</button>
                        <button type="button" class="btn btn-default">删除</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center text-muted">编辑</div>
                </div>
                <div class="pull-left btn-toolbar-group">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            表格 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:;" onclick="insertSection(1)"><img src="~/admin/Content/imgs/FormEditorRibbon/Section_1col_32.png" />一列</a></li>
                            <li><a href="javascript:;" onclick="insertSection(2)"><img src="~/admin/Content/imgs/FormEditorRibbon/Section_2cols_32.png" />两列</a></li>
                            <li><a href="javascript:;" onclick="insertSection(3)"><img src="~/admin/Content/imgs/FormEditorRibbon/Section_3cols_32.png" />三列</a></li>
                            <li><a href="javascript:;" onclick="insertSection(4)"><img src="~/admin/Content/imgs/FormEditorRibbon/Section_4cols_32.png" />四列</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center text-muted">表格</div>
                </div>
                <div class="pull-left btn-toolbar-group">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            选项卡 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:;" onclick="insertTab(1)"><img src="~/admin/Content/imgs/FormEditorRibbon/Tab_1col_32.png" />一列</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">两列</li>
                            <li><a href="javascript:;" onclick="insertTab(2)"><img src="~/admin/Content/imgs/FormEditorRibbon/Tab_2cols_32.png" />宽度一致</a></li>
                            <li><a href="javascript:;" onclick="insertTab(2,[30,70])"><img src="~/admin/Content/imgs/FormEditorRibbon/Tab_2colsNW_32.png" />左窄右宽</a></li>
                            <li><a href="javascript:;" onclick="insertTab(2, [70, 30])"><img src="~/admin/Content/imgs/FormEditorRibbon/Tab_2colsWN_32.png" />右宽左窄</a></li>
                            @*<li><a href="javascript:;" onclick="insertTab(2, [30, 70])"><img src="~/admin/Content/imgs/FormEditorRibbon/Tab_2colsWW_32.png" />中间分隔</a></li>*@
                            <li class="divider"></li>
                            <li class="dropdown-header">三列</li>
                            <li><a href="javascript:;" onclick="insertTab(3)"><img src="~/admin/Content/imgs/FormEditorRibbon/Tab_3colsNNN_32.png" />宽度一致</a></li>
                            <li><a href="javascript:;" onclick="insertTab(3, [30, 40, 30])"><img src="~/admin/Content/imgs/FormEditorRibbon/Tab_3colsNWN_32.png" />中间宽</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center text-muted">选项卡</div>
                </div>
                <div class="pull-left btn-toolbar-group">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default">单据体</button>
                        <button type="button" class="btn btn-default">空格</button>
                        <button type="button" class="btn btn-default">自定义内容</button>
                        <button type="button" class="btn btn-default">嵌入页面</button>
                        <button type="button" class="btn btn-default">导航链接</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center text-muted">控件</div>
                </div>
                <div class="pull-left btn-toolbar-group">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default">表单属性</button>
                        <button type="button" class="btn btn-default">权限</button>
                        <button type="button" class="btn btn-default">预览</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center text-muted">表单</div>
                </div>
            </div>
        </div>
        <div class="row table-responsive">
            <table class="table table-bordered" style="background:#f1f3f5;">
                <tr>
                    <td class="col-sm-2" id="formNav">
                        <div class="navGroup locked">
                            <a data-toggle="collapse"
                               href="#collapseNav1" class="collapse-title nav-title" data-target="collapseNav1">
                                <span class="glyphicon glyphicon-chevron-down"></span> 信息
                            </a>
                            <div id="collapseNav1" class="panel-collapse collapse in">
                                <ul class="list-unstyled nav-child">
                                    <li class="nav-item"><a>基本信息</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="navGroup" data-label="公共">
                            <a data-toggle="collapse"
                               href="#collapseNav2" class="collapse-title nav-title" data-target="collapseNav2">
                                <span class="glyphicon glyphicon-chevron-down"></span> 公共
                            </a>
                            <div id="collapseNav2" class="panel-collapse collapse in">
                                <ul class="list-unstyled nav-child">
                                    <li class="nav-item" data-label="日志" data-icon="" data-url="/admin/platform/log"><a>日志</a></li>
                                    <li class="nav-item" data-label="流程" data-icon="" data-url="/admin/workflow/index"><a>流程</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td id="formContent">
                        <div style="min-height:450px; max-height:600px; overflow-y:scroll; overflow-x:hidden;">
                            <div class="header locked" data-columns="2" data-label="标题" data-isvisibled="true" data-isshowlabel="true" data-celllabelwidth="100" data-celllabelalignment="Left" data-celllabelposition="Left">
                                <div class="section-title"><span class="glyphicon glyphicon-lock"></span> 标题</div>
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="col-sm-2 field placeholder"></td>
                                        <td class="col-sm-2 field placeholder"></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="formBody" style="min-height:300px;width:100%;">
                                <div class="tab" data-label="选项卡" data-isshowlabel="true" data-isexpanded="true" data-isvisibled="true">
                                    <a data-toggle="collapse"
                                       href="#collapse1" class="collapse-title" data-target="collapse1">
                                        <span class="glyphicon glyphicon-chevron-down"></span> 基本信息
                                    </a>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="section" data-columns="2" data-label="页脚" data-isvisibled="true" data-isshowlabel="true" data-celllabelwidth="100" data-celllabelalignment="Left" data-celllabelposition="Left">
                                            <div class="section-title">表格</div>
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td class="col-sm-2 field placeholder"></td>
                                                    <td class="col-sm-2 field placeholder"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer locked" data-columns="2" data-label="页脚" data-isvisibled="true" data-isshowlabel="true" data-celllabelwidth="100" data-celllabelalignment="Left" data-celllabelposition="Left">
                                <div class="section-title"><span class="glyphicon glyphicon-lock"></span> 页脚</div>
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="col-sm-2 field placeholder"></td>
                                        <td class="col-sm-2 field placeholder"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" class="collapse-title"
                                       href="#collapseAttributes" data-target="collapseAttributes"><span class="glyphicon glyphicon-chevron-right"></span>字段资源管理器</a>
                                </div>
                            </div>
                            <div id="collapseAttributes" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-unstyled" id="attributes"></ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group col-sm-12 text-center hide" id="form-buttons">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> 保存</button>
            <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-transfer"></span> 发布</button>
        </div>
    }
</div>
<!-- 表单参数设置（Modal） -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog"
     aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="formModalLabel">
                    表单参数
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="form-name">名称</label>
                    <input id="form-name" name="form-name" type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label for="form-isshownav">显示导航</label>
                    <input id="form-isshownav" name="form-isshownav" type="checkbox" class="form-control input-sm" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="setFormParams()">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 导航分组设置（Modal） -->
<div class="modal fade" id="navGroupModal" tabindex="-1" role="dialog"
     aria-labelledby="navGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="navGroupModalLabel">
                    导航分组
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="navgroup-name">组名称</label>
                    <input id="navgroup-name" name="navgroup-name" type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="saveNavGroup()">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 导航项目设置（Modal） -->
<div class="modal fade" id="navItemModal" tabindex="-1" role="dialog"
     aria-labelledby="navItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="navItemModalLabel">
                    导航项目
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="navitem-label">名称</label>
                    <input id="navitem-label" name="navitem-label" type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label for="navitem-icon">图标</label>
                    <input id="navitem-icon" name="navitem-icon" type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label for="navitem-url">链接</label>
                    <input id="navitem-url" name="navitem-url" type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="saveNavItem()">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Header{
    <style>
        .btn-toolbar-group {
            padding: 2px;
            border-right: 1px #ccc solid;
        }

        .collapse-title {
            color: black;
        }

        .navGroup {
            clear: both;
            border: 1px #ccc dashed;
            background: #f6f8fa;
            cursor: pointer;
        }

        .nav-child {
            text-indent: 1em;
        }

            .nav-child li {
                border: 1px #ccc dashed;
                margin-bottom: 2px;
            }

        .header, .footer {
            margin: 5px 0;
            border: 1px #ccc dashed;
            background: #f6f8fa;
            padding: 5px;
            cursor: pointer;
        }

        .section, .tab {
            margin: 5px 0;
            border: 1px #ccc dashed;
            background: #f6f8fa;
            padding: 5px;
            cursor: pointer;
        }

        .section-title {
            color: #999;
            height: 22px;
            border-bottom: 1px #ccc solid;
            clear: both;
        }

        .section table {
            margin: 5px 0;
            clear: both;
        }

            .section table th {
                background: #f1f3f5;
                padding: 2px;
                cursor: default;
            }

            .section table td {
                background: #fff;
                vertical-align: top;
                color: #999;
                cursor: default;
            }

                .section table td label {
                    background: #f1f3f5;
                    color: #000;
                    font-weight: 600;
                    cursor: default;
                }

                .section table td input {
                    border: 1px #ccc solid;
                    background: #fff;
                    cursor: default;
                }

        td.placeholder {
            background: #f1f3f5 !important;
            height: 30px;
        }

        td.field {
            padding: 1px !important;
        }

        table.cell {
            margin: 0;
        }

        #attributes li {
            border-bottom: 1px solid #C4DDFF;
            line-height: 22px;
            text-overflow: ellipsis;
            cursor: pointer;
            padding: 3px;
        }

            #attributes li:hover {
                background: #B1D6F0 !important;
            }

        .drag-placeholder {
            border-bottom: 5px solid red;
            clear: both;
        }

        .selected {
            border: 1px solid rgb(0, 118, 163) !important;
        }
    </style>
}
@section Scripts {
    <script src="/content/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
    <script src="/content/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
    <script src="/content/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
    <script src="/content/jquery-ui-1.10.3/ui/jquery.ui.sortable.js"></script>
    <script src="/content/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
    <script src="/content/jquery-ui-1.10.3/ui/jquery.ui.droppable.js"></script>
    <script src="/content/jquery-ui-1.10.3/ui/jquery.ui.accordion.js"></script>
    <script src="/admin/content/js/jquery.form.js"></script>
    <script src="/admin/content/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/admin/content/js/jquery-validate/messages_zh.min.js"></script>
    <script src="~/admin/content/js/customize/Form.js"></script>
    <script>
        var entityid = $('#EntityId').val();
        $(function () {
            //表单验证
            //purecms.form($("#editform"));
            loadAttributes();
            $('a[data-toggle="collapse"]').on('click', null, function (e) {
                var self = $(this);
                var target = $('#' + self.attr('data-target'));
                var c = target.is('.in') ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down';
                self.find('span:first').prop('class', c);
                target.toggleClass('in');
                e.stopPropagation();
            });
            //layout
            $('.header,.footer').on('mousedown', null, function (e) {
                $('.selected').removeClass('selected');
                var self = $(this);
                self.addClass('selected');
                e.stopPropagation();
            }).disableSelection();
            $('.tab').on('mousedown', null, function (e) {
                $('.selected').removeClass('selected');
                var self = $(this);
                self.addClass('selected');
                e.stopPropagation();
            }).disableSelection();
            $('.section').on('mousedown', null, function (e) {
                $('.selected').removeClass('selected');
                var self = $(this);
                self.addClass('selected');
                e.stopPropagation();
            }).disableSelection();
            $('.section').on('mousedown', '.field', function (e) {
                $('.selected').removeClass('selected').addClass('table-bordered');
                var self = $(this);
                self.find('.cell').removeClass('table-bordered').addClass('selected');
                e.stopPropagation();
            }).disableSelection();
            //nav
            $('.navGroup').on('mousedown', null, function (e) {
                var self = $(this);
                if (self.is('.selected')) return;
                $('.selected').removeClass('selected');
                self.addClass('selected');
                e.stopPropagation();
            }).on('dbclick', null, function (e) {
                var self = $(this);
                if (!self.is('.selected')) {
                    $('.selected').removeClass('selected');
                    self.addClass('selected');
                }
                editNavGroup();
                e.stopPropagation();
            }).disableSelection();
            $('.navGroup').on('mousedown', '.nav-child > li', function (e) {
                $('.selected').removeClass('selected');
                var self = $(this);
                self.addClass('selected');
                e.stopPropagation();
            }).on('dbclick', '.nav-child > li', function (e) {
                var self = $(this);
                if (!self.is('.selected')) {
                    $('.selected').removeClass('selected');
                    self.addClass('selected');
                }
                editNavItem();
                e.stopPropagation();
            }).disableSelection();

            initFieldEvent();
            initSortEvent();
        });
        //加载字段
        function loadAttributes() {
            var _html = new Array();
            purecms.getjson('/admin/customize/AttributesJson', { entityid: entityid }, function (data) {
                $(data.content).each(function (i, n) {
                    _html.push('<li class="ui-state-default" data-name="' + n.name + '" data-entityname="' + n.entityname + '" data-type="' + n.attributetypename + '">');
                    //_html.push('<span class="glyphicon glyphicon-screenshot"></span>');
                    _html.push(n.localizedname);
                    _html.push('</li>');
                });
                $('#attributes').html(_html.join(''));
                initAttributeEvent();
            });
        }
        //初始化字段拖动事件
        function initAttributeEvent() {
            $("#attributes li").draggable({
                appendTo: "body",
                helper: "original",
                revert: true
            });

        }
        //字段拖动排序
        function initFieldEvent() {
            $(".field").droppable({
                //activeClass: "drag-placeholder",
                //hoverClass: "drag-placeholder",
                accept: ":not(.ui-sortable-helper)",
                drop: function (event, ui) {
                    if (!ui.helper.parent().is('#attributes')) return;
                    $(this).removeClass("placeholder");
                    $(this).attr('data-name', ui.draggable.attr('data-name'));
                    $(this).attr('data-entityname', ui.draggable.attr('data-entityname'));
                    $(this).attr('data-type', ui.draggable.attr('data-type'));
                    var text = ui.draggable.text();
                    var el = $('<table class="table table-bordered cell"><tr style="height:100%;"><th class="col-sm-2">' + text + '</th><td>' + text + '</td></tr></table');
                    $(this).append(el);
                    ui.helper.remove();
                    initSortEvent();
                }
            }).sortable({
                connectWith: ".field",
                cancel: '.placeholder,.locked',
                items: ".cell",
                placeholder: "drag-placeholder",
                stop: function (event, ui) {
                    console.log(ui);
                    $(this).addClass("placeholder");
                    if (ui.item.siblings().length > 0) {
                        var el = $('<tr><td class="col-sm-2 field"></td><td class="col-sm-2 field placeholder"></td></tr>');
                        el.find('td:first').append(ui.item.siblings());
                        if (ui.item.parents('tr:first').next().length > 0) {
                            var td = ui.item.parents('tr:first').next().find('td.placeholder');
                            if (td.length > 0) {
                                td.append(ui.item);
                            }
                            else {
                                ui.item.parents('tr:first').after(el);
                                initFieldEvent();//重新绑定事件
                            }
                        }
                        else {
                            ui.item.parents('tr:first').after(el);
                            initFieldEvent();//重新绑定事件
                        }
                    }
                    ui.item.parent().removeClass("placeholder");
                }
            }).disableSelection();
        }
        //初始化表单元素排序事件
        function initSortEvent() {
            $("#formNav").sortable({
                cancel: '.locked',
                items: '.navGroup',
                //placeholder: "drag-placeholder",
                helper: "clone"
            }).disableSelection();

            $("#formBody").sortable({
                connectWith: "#formBody .tab,#formBody .section",
                cancel: '.locked',
                items: '.tab',
                //placeholder: "drag-placeholder",
                helper: "clone",
                containment: "#formBody"
            }).disableSelection();
            $("#formBody").sortable({
                connectWith: "#formBody .tab,#formBody .section",
                cancel: '.locked',
                items: '.section',
                //placeholder: "drag-placeholder",
                helper: "clone",
                containment: "#formBody"
            }).disableSelection();
        }
        //插入表格
        function insertSection(col) {
            var selected = $('#formContent').find('.selected');
            var temp = new Array();
            temp.push('<div class="section" data-columns="2" data-label="页脚" data-isvisibled="true" data-isshowlabel="true" data-celllabelwidth="100" data-celllabelalignment="Left" data-celllabelposition="Left"><div class="section-title">表格</div>');
            temp.push('<table class="table table-bordered">');
            temp.push('<tr>');
            for (var i = 0; i < col; i++) {
                temp.push('<td class="col-sm-2 field placeholder"></td>');
            }
            temp.push('</tr>');
            temp.push('</table>');
            temp.push('</div>');
            var el = $(temp.join(''));
            if (selected.length > 0) {
                //insert after
                if (selected.is('.section') || selected.is('.tab')) {
                    selected.after(el);
                }
            }
            else {
                $('#formBody').append(el);
            }
        }
        //插入选项卡
        function insertTab(col, width) {
            var id = 'tab_' + Math.round(new Date().getTime() / 1000);
            var selected = $('#formContent').find('.selected');
            var temp = new Array();
            temp.push('<div class="tab" id="' + id + '" data-label="选项卡" data-isshowlabel="true" data-isexpanded="true" data-isvisibled="true">');
            temp.push('<a data-toggle="collapse"');
            temp.push('href="#collapse_' + id + '" class="collapse-title">');
            temp.push('<span class="glyphicon glyphicon-chevron-down"></span>选项卡');
            temp.push('</a>');
            temp.push('<div id="collapse_' + id + '" class="panel-collapse collapse in">');
            temp.push('<div class="section" data-columns="2" data-label="标题" data-isvisibled="true" data-isshowlabel="true" data-celllabelwidth="100" data-celllabelalignment="Left" data-celllabelposition="Left"><div class="section-title">表格</div>');
            temp.push('<table class="table table-bordered">');
            temp.push('<tr>');
            for (var i = 0; i < col; i++) {
                temp.push('<td class="col-sm-2 field placeholder"></td>');
            }
            temp.push('</tr>');
            temp.push('</table>');
            temp.push('</div>');
            temp.push('</div>');
            temp.push('</div>');
            var el = $(temp.join(''));
            if (selected.length > 0) {
                //insert after
                if (selected.is('.section')) {
                    if (selected.parents('.tab').length > 0) {
                        selected.parents('.tab').after(el);
                    }
                    else {
                        selected.after(el);
                    }
                }
                else if (selected.is('.tab')) {
                    selected.after(el);
                }
            }
            else {
                $('#formBody').append(el);
            }
        }
        function editObject() {
            var selected = $('.selected');
            if (selected.is('.navGroup')) {
                editNavGroup();
            }
            else if (selected.is('.nav-item')) {
                editNavItem();
            }
            else if (selected.is('.tab')) {
                editTab();
            }
            else if (selected.is('.section')) {
                editSection();
            }
            else if (selected.is('.header')) {
                editHeader();
            }
            else if (selected.is('.footer')) {
                editFooter();
            }
            else if (selected.is('.field')) {
                editField();
            }
        }
        //导航设置
        function editNavGroup() {
            var selected = $('.selected');
            var target = $('#navGroupModal');
            target.find('#navgroup-name').val(selected.attr('data-label'));
            target.modal({
                keyboard: true
            })
        }
        function saveNavGroup() {
            var target = $('#navGroupModal');
            var selected = $('.selected');
            selected.attr('data-label',target.find('#navgroup-name').val());
            target.modal('hide');
        }
        function editNavItem() {
            var selected = $('.selected');
            var target = $('#navItemModal');
            target.find('#navitem-label').val(selected.attr('data-label'));
            target.find('#navitem-icon').val(selected.attr('data-icon'));
            target.find('#navitem-url').val(selected.attr('data-url'));
            target.modal({
                keyboard: true
            })
        }
        function saveNavItem() {
            var target = $('#navItemModal');
            var selected = $('.selected');
            selected.attr('data-label', target.find('#navitem-label').val());
            selected.attr('data-icon', target.find('#navitem-icon').val());
            selected.attr('data-url', target.find('#navitem-url').val());
            target.modal('hide');
        }
        //选项卡设置
        function editTab() {
            var selected = $('.selected');
            var target = $('#tabModal');
            target.find('#tab-label').val(selected.attr('data-label'));
            target.find('#tab-isshowlabel').val(selected.attr('data-isshowlabel'));
            target.find('#tab-isexpanded').val(selected.attr('data-isexpanded'));
            target.modal({
                keyboard: true
            })
        }
        function saveTab() {
            var target = $('#tabModal');
            var selected = $('.selected');
            selected.attr('data-label', target.find('#tab-label').val());
            selected.attr('data-isshowlabel', target.find('#tab-isshowlabel').val());
            selected.attr('data-isexpanded', target.find('#tab-isexpanded').val());
            target.modal('hide');
        }
        //表格设置
        function editSection() {
            var selected = $('.selected');
            var target = $('#sectionModal');
            target.find('#section-label').val(selected.attr('data-label'));
            target.find('#section-isshowlabel').val(selected.attr('data-isshowlabel'));
            target.find('#section-columns').val(selected.attr('data-columns'));
            target.find('#section-celllabelwidth').val(selected.attr('data-celllabelwidth'));
            target.find('#section-celllabelalignment').val(selected.attr('data-celllabelalignment'));
            target.find('#section-celllabelposition').val(selected.attr('data-celllabelposition'));
            target.modal({
                keyboard: true
            })
        }
        function saveSection() {
            var target = $('#sectionModal');
            var selected = $('.selected');
            selected.attr('data-label', target.find('#section-label').val());
            selected.attr('data-isshowlabel', target.find('#section-isshowlabel').val());
            selected.attr('data-columns', target.find('#section-columns').val());
            selected.attr('data-celllabelwidth', target.find('#section-celllabelwidth').val());
            selected.attr('data-celllabelalignment', target.find('#section-celllabelalignment').val());
            selected.attr('data-celllabelposition', target.find('#section-celllabelposition').val());
            target.modal('hide');
        }
        //字段设置
        function editField() {
            var selected = $('.selected');
            var target = $('#fieldModal');
            target.find('#field-label').val(selected.attr('data-label'));
            target.find('#field-isshowlabel').val(selected.attr('data-isshowlabel'));
            target.find('#field-isvisibled').val(selected.attr('data-columns'));
            target.find('#field-colspan').val(selected.attr('data-colspan'));
            target.find('#field-rowspan').val(selected.attr('data-rowspan'));
            target.modal({
                keyboard: true
            })
        }
        function saveField() {
            var target = $('#fieldModal');
            var selected = $('.selected');
            selected.attr('data-label', target.find('#field-name').val());
            selected.attr('data-isshowlabel', target.find('#field-isshowlabel').val());
            selected.attr('data-isvisibled', target.find('#field-isvisibled').val());
            selected.attr('data-colspan', target.find('#field-colspan').val());
            selected.attr('data-rowspan', target.find('#field-rowspan').val());
            target.modal('hide');
        }

        //保存表单设置
        function saveForm() {
            var formObject = new Xms.Form.FormDescriptor();
            formObject.NavGroups = new Array();
            //nav
            $('#formNav .navGroup:not(.locked)').each(function (i, n) {
                var ng = new Xms.Form.NavGroupDescriptor();
                ng.Label = $(n).attr('data-label');
                ng.IsVisibled = true;
                ng.NavItems = new Array();
                $(n).find('.navItem').each(function (i, n) {
                    var item = new Xms.Form.NavDescriptor();
                    item.Label = $(n).attr('data-label');
                    item.Icon = $(n).attr('data-icon');
                    item.Url = $(n).attr('data-url');
                    item.IsVisibled = true;
                    ng.NavItems.push(item);
                });
                formObject.NavGroups.push(ng);
            });
            //header
            var headerNode = $('#formContent .header');
            var header = new Xms.Form.SectionDescriptor();
            header.Name = '标题';
            header.Label = headerNode.attr('data-label');
            header.IsShowLabel = headerNode.attr('data-isshowlabel');
            header.IsVisibled = headerNode.attr('data-isvisibled');
            header.CellLabelWidth = headerNode.attr('data-celllabelwidth');
            header.CellLabelAlignment = headerNode.attr('data-celllabelalignment');
            header.CellLabelPosition = headerNode.attr('data-celllabelposition');
            header.Columns = headerNode.attr('data-columns');
            header.Rows = new Array();
            $('#formContent .footer > table > tr').each(function (i, n) {
                var row = new Xms.Form.RowDescriptor();
                row.IsVisibled = true;
                row.Cells = new Array();
                $(n).find('.field').each(function (ii, nn) {
                    var cell = new Xms.Form.CellDescriptor()
                    cell.Label = $(nn).attr('data-label');
                    cell.IsShowLabel = $(nn).attr('data-isshowlabel');
                    cell.IsVisibled = $(nn).attr('data-isvisibled');
                    cell.ColSpan = $(nn).attr('colspan');;
                    cell.RowSpan = $(nn).attr('rowspan');;
                    cell.Control = new Xms.Form.ControlDescriptor();
                    cell.Control.Name = $(nn).attr('data-name');
                    row.Cells.push(cell);
                });
                header.Rows.push(row);
            });
            formObject.Header = header;
            //footer
            var footerNode = $('#formContent .footer');
            var footer = new Xms.Form.SectionDescriptor();
            footer.Name = '页脚';
            footer.Label = footerNode.attr('data-label');
            footer.IsShowLabel = footerNode.attr('data-isshowlabel');
            footer.IsVisibled = footerNode.attr('data-isvisibled');
            footer.CellLabelWidth = footerNode.attr('data-celllabelwidth');
            footer.CellLabelAlignment = footerNode.attr('data-celllabelalignment');
            footer.CellLabelPosition = footerNode.attr('data-celllabelposition');
            footer.Columns = footerNode.attr('data-columns');
            footer.Rows = new Array();
            $('#formContent .footer > table > tr').each(function (i, n) {
                var row = new Xms.Form.RowDescriptor();
                row.IsVisibled = true;
                row.Cells = new Array();
                $(n).find('.field').each(function (ii, nn) {
                    var cell = new Xms.Form.CellDescriptor()
                    cell.Label = $(nn).attr('data-label');
                    cell.IsShowLabel = $(nn).attr('data-isshowlabel');
                    cell.IsVisibled = $(nn).attr('data-isvisibled');
                    cell.ColSpan = $(nn).attr('colspan');;
                    cell.RowSpan = $(nn).attr('rowspan');;
                    cell.Control = new Xms.Form.ControlDescriptor();
                    cell.Control.Name = $(nn).attr('data-name');
                    row.Cells.push(cell);
                });
                footer.Rows.push(row);
            });
            formObject.Footer = footer;
            //body
            formObject.Panels = new Array();
            $('#formBody > .tab').each(function (i, n) {
                var panel = new Xms.Form.PanelDescriptor();
                panel.Name = '';
                panel.Label = $(n).attr('data-label');
                panel.IsExpanded = $(n).attr('data-isexpanded');
                panel.IsShowLabel = $(n).attr('data-isshowlabel');
                panel.IsVisibled = $(n).attr('data-isbisibled');
                panel.Sections = new Array();
                $(n).find('.section').each(function (ii, nn) {
                    var sec = new Xms.Form.SectionDescriptor();
                    sec.Name = '';
                    sec.Label = $(nn).attr('data-label');
                    sec.IsShowLabel = $(nn).attr('data-isshowlabel');
                    sec.IsVisibled = $(nn).attr('data-isvisibled');
                    sec.CellLabelWidth = $(nn).attr('data-celllabelwidth');
                    sec.CellLabelAlignment = $(nn).attr('data-celllabelalignment');
                    sec.CellLabelPosition = $(nn).attr('data-celllabelposition');
                    sec.Columns = $(nn).attr('data-columns');
                    sec.Rows = new Array();
                    $(nn).find('> table > tr').each(function (i, n) {
                        var row = new Xms.Form.RowDescriptor();
                        row.IsVisibled = true;
                        row.Cells = new Array();
                        $(n).find('.field').each(function (iii, nnn) {
                            var cell = new Xms.Form.CellDescriptor()
                            cell.Label = $(nnn).attr('data-label');
                            cell.IsShowLabel = $(nnn).attr('data-isshowlabel');
                            cell.IsVisibled = $(nnn).attr('data-isvisibled');
                            cell.ColSpan = $(nnn).attr('colspan');;
                            cell.RowSpan = $(nnn).attr('rowspan');;
                            cell.Control = new Xms.Form.ControlDescriptor();
                            cell.Control.Name = $(nnn).attr('data-name');
                            row.Cells.push(cell);
                        });
                        sec.Rows.push(row);
                    });
                    panel.Sections.push(sec);
                });
                formObject.Panels.push(panel);
            });
            formObject.Sections = new Array();
            $('#formBody > .section').each(function (i, n) {
                var sec = new Xms.Form.SectionDescriptor();
                sec.Name = '';
                sec.Label = $(nn).attr('data-label');
                sec.IsShowLabel = $(nn).attr('data-isshowlabel');
                sec.IsVisibled = $(nn).attr('data-isvisibled');
                sec.CellLabelWidth = $(nn).attr('data-celllabelwidth');
                sec.CellLabelAlignment = $(nn).attr('data-celllabelalignment');
                sec.CellLabelPosition = $(nn).attr('data-celllabelposition');
                sec.Columns = $(nn).attr('data-columns');
                sec.Rows = new Array();
                $(nn).find('> table > tr').each(function (i, n) {
                    var row = new Xms.Form.RowDescriptor();
                    row.IsVisibled = true;
                    row.Cells = new Array();
                    $(n).find('.field').each(function (iii, nnn) {
                        var cell = new Xms.Form.CellDescriptor()
                        cell.Label = $(nnn).attr('data-label');
                        cell.IsShowLabel = $(nnn).attr('data-isshowlabel');
                        cell.IsVisibled = $(nnn).attr('data-isvisibled');
                        cell.ColSpan = $(nnn).attr('colspan');;
                        cell.RowSpan = $(nnn).attr('rowspan');;
                        cell.Control = new Xms.Form.ControlDescriptor();
                        cell.Control.Name = $(nnn).attr('data-name');
                        row.Cells.push(cell);
                    });
                    sec.Rows.push(row);
                });
                formObject.Sections.push(sec);
            });
            $('#FormConfig').val(JSON.stringify(formObject));
        }
    </script>
}