@using PureCms.Core.Domain.Schema;
@model PureCms.Web.Admin.Models.EntityGridModel
@{
    Layout = null;
}
<div class="panel panel-default" id="gridview">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>@Model.QueryView.Name - 视图</strong>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-condensed" id="datatable" data-ajax="true" data-ajaxcontainer="gridview" data-ajaxcallback="ajaxgrid_reset()" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection">
            <thead>
                <tr>
                    <th width="2%"><input type="checkbox" name="checkall" /></th>
                    @*<th width="4%">行号</th>*@
                    @foreach (var cell in Model.Grid.Rows[0].Cells)
                    {
                        var k = cell.Name;
                        AttributeInfo attr = Model.AttributeList.Find(n => n.Name.ToLower() == k.ToLower());
                        //var url = Url.ActionUrl("gridview", this.ViewContext);//, new { sortdirection : (Model.SortDirection == 1 ? 0 : 1)});
                        <th data-name="@cell.Name.ToLower()" style="width:@(cell.Width+"px")">
                            <a data-ajax="true" href="gridview?queryid=@Model.QueryId&sortby=@cell.Name&sortdirection=@(Model.SortDirection == 1 ? 0 : 1)">@cell.Label</a>
                            (@attr.EntityLocalizedName)
                        </th>
                    }
                    <th width="15%">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    var lines = (item as IDictionary<string, object>);
                    <tr>
                        <td><input type="checkbox" name="recordid" /></td>
                        @foreach (var cell in Model.Grid.Rows[0].Cells)
                        {
                            var k = cell.Name;
                            AttributeInfo attr = Model.AttributeList.Find(n => n.Name.ToLower() == k.ToLower());
                            if (attr != null && (attr.AttributeTypeId.Equals(Guid.Parse(AttributeTypeIds.LOOKUP)) || attr.AttributeTypeId.Equals(Guid.Parse(AttributeTypeIds.OWNER))))
                            {
                                k += "Name";
                                <td><a href="" target="_blank" title="查看">@lines[k]</a></td>
                            }
                            else {
                                <td>@lines[k]</td>
                            }
                        }
                        @*@foreach (var property in lines)
                            {
                                var k = property.Key;
                                AttributeInfo attr = Model.AttributeList.Find(n => n.Name.ToLower() == k.ToLower());
                                if (attr != null && (attr.AttributeTypeId.Equals(Guid.Parse(AttributeTypeIds.LOOKUP)) || attr.AttributeTypeId.Equals(Guid.Parse(AttributeTypeIds.OWNER))))
                                {
                                    k += "Name";
                                    var a = lines.FirstOrDefault(n => n.Key == k);
                                    <td><a href="" target="_blank" title="查看">@a.Value</a></td>
                                }
                                else if (Model.Grid.Rows[0].Cells.Count(x => x.Name == k) > 0)
                                {
                                    <td>@property.Value</td>
                                }
                            }*@
                        <td>
                            <a class="btn btn-default btn-xs" href=""><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                            <a class="btn btn-warning btn-xs" href="javascript:purecms.del('','/admin/customize/deletequeryview')"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="@(Model.Grid.Rows[0].Cells.Count+3)" class="active">
                        <button type="button" class="btn btn-xs btn-primary" data-submit="/admin/customize/deleteattribute" data-role="delete" data-tooltip="字段删除后相关数据也将一并删除，请提前备份数据"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-footer">
            @*@Html.WebPager(Model.PagedModel, true)*@
            <div class="row">
                <div class="col-sm-4">@("当前" + @Model.Page + "/" + @Model.PagedModel.TotalPages + "页, 共" + @Model.TotalItems + "行记录")</div>
                <div id="page-selection" class="col-sm-8" data-total="@Model.PagedModel.TotalPages" data-page="@Model.Page"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var pageUrl = '@Url.ActionUrl("gridview", this.ViewContext)';
    $(function () {
        $('.datepicker').datepicker({
            autoclose: true
            , clearBtn: true
            , format: "yyyy-mm-dd"
            , language: "zh-CN"
        });
        ajaxgrid_reset();
        $('#searchForm').ajaxSearch('#gridview');
    });
    function pag_init() {
        $('#page-selection').bootpag({
            total: $('#page-selection').attr('data-total')
            , maxVisible: 10
            , page: $('#page-selection').attr('data-page')
            , leaps: false
            , prev: '&laquo;'
            , next: '&rsaquo;'
            , firstLastUse: true
            , first: '&laquo;&laquo;'
            , last: '&rsaquo;&rsaquo;'
        }).on("page", function (event, /* page number here */ num) {
            event.preventDefault();
            var url = $.setUrlParam(pageUrl, 'page', num);
            $("#gridview").ajaxLoad(url, "#gridview", function (response) {
                ajaxgrid_reset();
            });
            //$.get('/Admin/entity/gridview?queryid=553E5E14-8FE1-4E20-856B-43A2003D2C4D&page=' + num, function (response) {
            //    $("#gridview").replaceWith(response); // some ajax content loading...
            //    ajaxgrid_reset();
            //});
            return false;
        });
    }
    function ajaxgrid_reset() {
        pag_init();
        purecms.datatable($("#datatable"));
        //该设置使table达到默认最大宽度时，将不再继续变宽
        var ops = { resizeTable: false };
        //使两张table同时支持左右拉伸
        $("table").tableresize(ops);

        $("#datatable").ajaxTable();
        $("#datatable > thead th a").attr('data-ajax', 'true');
        //$("#gridview .pagination a:not(.disabled)").attr('data-ajax', 'true');
    }
</script>