@model PureCms.Web.Admin.Models.LogModel
@{
    ViewBag.Title = "Log";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>日志</strong>
            <div class="pull-right">
                <a class="btn btn-info btn-sm" data-toggle="collapse"
                   href="#collapseOne">
                    <span class="glyphicon glyphicon-search"></span> 查询
                </a>
            </div>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <!--in-->
        <div class="panel-body">
            @using (Html.BeginForm("log", "platform", FormMethod.Get, new { @class = "form-horizontal", @role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.Hidden("page", 1)
                @Html.Hidden("pagesize", 10)
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="begintime">开始时间</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.BeginTime, new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="endtime">结束时间</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="clientip">客户端IP</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.ClientIp, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="url">链接</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> 查询</button>
                </div>
            }
        </div>
    </div>
    <div class="table-responsive" id="gridview">        
    @*<div id="gridview">
        @{
            WebGrid grid = new WebGrid(ajaxUpdateContainerId: "gridview", rowsPerPage:Model.PageSize, defaultSort: "createdon", sortFieldName:"sortby");
            //grid.SortDirection = (grid.SortDirection == SortDirection.Ascending ? SortDirection.Descending : SortDirection.Ascending);
            grid.Bind(Model.Items, rowCount: Model.PagedModel.TotalCount, autoSortAndPage: false);
        }

                @grid.Table(columns: grid.Columns(
             grid.Column("logid", header: "ID"),
             grid.Column("title", header: "标题"),
                 grid.Column("username", header: "用户"),
                 //grid.Column("isdefault", header: "是否默认", format: (item) => (item.IsDefault ? "是" : "否")),
                 grid.Column("createdon", header: "创建日期")
             ), tableStyle: "table table-hover table-condensed", htmlAttributes: new { @id="datatable", @data_sortby=Model.SortBy, @data_sortdirection = Model.SortDirection })
                <div class="col-sm-12 panel-footer">
                    <div class="col-sm-3">@("当前" + @Model.Page + "/" + @Model.PagedModel.TotalPages + "页, 共" + @Model.PagedModel.TotalCount + "行记录")</div>
                    <div class="col-sm-9">

                        @grid.PagerList(mode: WebGridPagerModes.All, numericLinksCount: 10)
                    </div>
                </div>
    </div>*@

        <table class="table table-hover table-condensed" id="datatable" data-ajax="true" data-ajaxcontainer="gridview" data-ajaxcallback="ajaxgrid_reset()" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection">
            <thead>
                <tr>
                    <th width="2%"><input type="checkbox" name="checkall" /></th>
                    <th data-name="title">
                        @Html.ActionLink("标题", "log", new { url = Model.Url, clientip = Model.ClientIp, begintime = Model.BeginTime, endtime = Model.EndTime, sortby = "title", sortdirection = Model.SortDirection == 1 ? 0 : 1 }, new { @data_ajax="true"})
                    </th>
                    <th width="10%">用户名</th>
                    <th width="10%" data-name="clientip">
                        @Html.ActionLink("客户端IP", "log", new { url = Model.Url, clientip = Model.ClientIp, begintime = Model.BeginTime, endtime = Model.EndTime, sortby = "clientip", sortdirection = Model.SortDirection == 1 ? 0 : 1 }, new { @data_ajax = "true" })
                    </th>
                    <th width="20%" data-name="url">
                        @Html.ActionLink("Url", "log", new { url = Model.Url, clientip = Model.ClientIp, begintime = Model.BeginTime, endtime = Model.EndTime, sortby = "url", sortdirection = Model.SortDirection == 1 ? 0 : 1 }, new { @data_ajax = "true" })
                    </th>
                    <th width="15%" data-name="createdon">
                        @Html.ActionLink("时间", "log", new { url = Model.Url, clientip = Model.ClientIp, begintime = Model.BeginTime, endtime = Model.EndTime, sortby = "createdon", sortdirection = Model.SortDirection == 1 ? 0 : 1 }, new { @data_ajax = "true" })
                    </th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td><input type="checkbox" value="@item.LogId" name="recordid" /></td>
                        <td>@item.Title</td>
                        <td>@item.UserName</td>
                        <td>@item.ClientIP</td>
                        <td>@item.Url</td>
                        <td>@item.CreatedOn</td>
                        <td>
                            <a class="btn btn-warning btn-xs" href="javascript:purecms.del('@item.LogId','/admin/platform/deletelog')"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="active">
                        <button type="button" class="btn btn-sm btn-primary" data-submit="/admin/platform/deletelog" data-role="delete"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-footer">
            @Html.WebPager(Model.PagedModel, true)
            </div>
    </div>
    <div class="panel-footer hide">
        @**@
    </div>
</div>


@section Header {
    <link href="/admin/content/bootstrap-datepicker-1.5.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
}
@section Scripts {
    <script src="/admin/content/bootstrap-datepicker-1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/admin/content/bootstrap-datepicker-1.5.0/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                autoclose: true
                , clearBtn: true
                , format: "yyyy-mm-dd"
                , language: "zh-CN"
            });
            ajaxgrid_reset();
        });
        function ajaxgrid_reset() {
            purecms.datatable($("#datatable"));
            $("#gridview .pagination a:not(.disabled)").attr('data-ajax', 'true');
        }
    </script>
}
